<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
  <br />
  <h1>What would you like to learn today?</h1>
  <br />
  <h2>Featured chef: Shantha Das</h2>
  <br />
  <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  <br /><br />
  </div>
</div>

<br />
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>Interesting crafts</h3>
    <p>Choose from unusual crafts to study with teachers all around the world.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn on the go</h3>
    <p>Enroll and learn from anywhere.</p>

  </div>

  <div class="col-12 col-sm">
    <h3>Join our community</h3>
    <p>Contribute your craft and build a fan following</p>
  </div>
</div
